<div class="alert alert-info">
    <h1 align="center">
      New Twit
    </h1>
</div>

<%= render 'form', twit: @twit %>

<ul class="pager">
    <li class="previous">
        <%= link_to 'â† Back', twits_path, class: "previous" %>
    </li>
</ul>
